<!--
    Jessica Kinghorn Mission 4 
    Confirmation for successful form submission
    -->
@{
    ViewData["Title"] = "Movie Application Submitted";
}

<h1>Movie Application Successfully Submitted</h1>
